@media (hover: hover) and (pointer: fine) {
  .book-now-btn:hover {
    color: #222;
    background-color: #ff3c3c;
  }
  .header__link:hover,
  .header__link:active {
    color: #ff3c3c;
  }
  .hero__scroll-down:hover {
    color: #ff3c3c;
    background: url(../img/svg/hovered-arrow-down.svg) no-repeat right top;
  }
  .card:hover {
    border: 1px solid #ff3c3c;
  }
  .card:hover .book-now-btn {
    background-color: #ff3c3c;
    color: #222;
  }
  .faq__question:hover {
    color: #ff3c3c;
  }
  .faq__question:hover {
    background: url(../img/svg/hovered-plus.svg) no-repeat right center;
  }
  .footer__input:hover {
    border: 1px solid #ff3c3c;
  }
  .faq__item_active .faq__question:hover {
    background: url(../img/svg/hovered-minus.svg) no-repeat right center;
  }
}

@media (max-width: 1354px) {
  .hero__main {
    gap: 20px;
  }
  .hero__info {
    flex: 0;
  }
}

@media (max-width: 1260px) {
  .price__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 34px;
  }
}
@media (max-width: 1178px) {
  .hero__middle {
    display: none;
  }
}
@media (max-width: 1028px) {
  .about__grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .about__pic_3 {
    display: none;
  }
}

@media (max-width: 820px) {
  .faq__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: clamp(56px, calc(3 * (100vw - 380px) / 97 + 56px), 68px);
    line-height: clamp(64px, calc(4 * (100vw - 380px) / 97 + 64px), 80px);
  }
  .hero__main {
    gap: 20px;
  }
  .hero__side-pic {
    width: 220px;
    height: 294px;
  }
  .hero__addition-line {
    height: 432px;
  }
  .header__list {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 0;
  }
  .header__navigation {
    transform: translate(100%);
    transition: all 0.5s ease-in-out;
    display: block;
    position: fixed;
    background-color: #222;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav-open .header__navigation {
    transform: translate(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .header__icon {
    display: block;
  }
  .nav-open .icon_close {
    opacity: 1;
    transform: translate(50%, -50%) scale(1);
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon_burger {
    opacity: 0;
    transform: translate(50%, -50%) scale(0.8);
    pointer-events: none;
    visibility: hidden;
  }

  .lines-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
  }
  .lines-container span {
    height: 2px;
    background-color: #fff;
  }
  .lines-container span:nth-child(1) {
    width: 12px;
  }
  .lines-container span:nth-child(2) {
    width: 20px;
  }
}
@media (max-width: 767px) {
  .hero__addition {
    display: none;
  }
}
@media (max-width: 710px) {
  .price__cards {
    grid-template-columns: auto;
    padding: 0 10px;
  }

  .card {
    margin: 0 auto;
    width: 320px;
  }
}
@media (max-width: 665px) {
  h1 {
    font-size: clamp(56px, calc(8 * (100vw - 380px) / 57 + 56px), 96px);
    line-height: 109px;
    line-height: clamp(64px, calc(9 * (100vw - 380px) / 57 + 64px), 109px);
  }
  .price__subtitle {
    height: 48px;
  }
  .hero__main {
    flex-direction: column;
  }
  .hero__side-pic {
    width: clamp(220px, calc(12 * (100vw - 380px) / 57 + 220px), 280px);
    height: auto;
  }
  .hero__scroll-down {
    display: none;
  }
  .hero__subtitle {
    margin-bottom: 0;
  }

  .hero__info {
    padding-top: 0;

    padding-bottom: 0px;
  }
  .hero__side {
    padding-top: 0;
  }

  .hero__side {
    align-self: flex-end;
  }
  .hero__side-pic {
    margin-bottom: 60px;
  }
}
@media (max-width: 588px) {
  .footer__form {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .input-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .footer__btn {
    width: 100%;
  }
  .footer__input {
    width: 100%;
  }
  .footer__contacts {
    flex-direction: column;
    gap: 36px;
    height: 100%;
    padding: 38px;
  }
}

@media (max-width: 390px) {
  .faq__subtitle {
    height: 48px;
  }
  .hero__stats {
    gap: 0;
    justify-content: space-between;
  }
}
