/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/oswald-v57-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v57-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v57-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/oswald-v57-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/mulish-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/mulish-v18-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html,
body {
  overflow-x: hidden;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}
body {
  font-family: 'Oswald', 'Mulish', sans-serif;
  color: #222;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
}
h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  margin-top: 0;
}
h1 {
  font-weight: 300;
  font-size: clamp(68px, calc((100vw - 768px) / 14 + 68px), 116px);
  line-height: clamp(80px, calc(13 * (100vw - 768px) / 168 + 80px), 132px);
  text-transform: uppercase;
}
h2 {
  font-size: 32px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
}
p,
div,
span,
li {
  font-family: 'Mulish', sans-serif;
  line-height: 24px;
}

.wrapper {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}
.wrapper_header {
  max-width: 1440px;
  padding: 0;
}
.rotation {
  writing-mode: vertical-lr;
  transform: scale(-1);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  gap: 40px;
}

.wrapper_sidebar {
  width: 100%;
  padding: 0;
}
.btn {
  border: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #222;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #222;
  background-color: #ff3c3c;
}
/* Header styles start */
.header {
  background-color: #222;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 60px;
}

.header__img-container {
  width: 60px;
  height: 60px;
}
.header__burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40.5px;
  margin-right: 20px;
}

.header__burger {
  width: 60px;
  height: 60px;
}
.header__link:link,
.header__link:visited {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
}
.header__link:hover,
.header__link:active {
  color: #ff3c3c;
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* =====Menu styles start ===== */
/* .header {
  position: relative;
}
.header__navigation {
  display: block;
  position: absolute;
  background-color: #222;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.header__list {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0;
}
.header__burger-img_close {
  display: none;
}
.nav-open .header__burger-img_open {
  display: none;
}
.nav-open .header__burger-img_close {
  display: block;
}
.nav-open .header__navigation {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
} */
/* =====Menu styles end ===== */
/* Header styles end */

/* Hero section styles start */
.hero {
  background-color: #222;
  color: #fff;
}

.hero__container {
  display: flex;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero__main {
  flex: 1;
  display: flex;
  gap: 40px;
  padding: 0 20px;
  justify-content: space-between;
}

.hero__addition {
  gap: 12px;
  width: 60px;
}
.hero__addition-line {
  width: 1px;
  flex: 1;
  max-height: 536px;
  background-color: #fff;
}
.hero__info {
  flex: 1;
  padding-top: 100px;
}
.hero__stats {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
.hero__stats-container {
  display: flex;
  gap: 8px;
}
.hero__stats-num {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 48px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 8px;
}
.hero__stats-text {
  height: 24px;
}
.hero__title {
  margin-bottom: 40px;
}
.hero__subtitle {
  margin-bottom: 160px;
}

.hero__middle {
  align-self: center;
  max-width: 220px;
}

.hero__middle-pic {
  height: auto;
  width: 100%;
}

.hero__plus-icon {
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: 300;
  height: auto;
  width: 19px;
  height: 54px;
}

.hero__scroll-down {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: url(../img/svg/arrow-down.svg) no-repeat right top;
  width: 119px;
  height: 24px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.hero__scroll-down:hover {
  color: #ff3c3c;
  background: url(../img/svg/hovered-arrow-down.svg) no-repeat right top;
}
.hero__side {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.hero__side-quote {
  line-height: 24px;
  width: 220px;
  margin-top: auto;
  margin-left: auto;
  text-align: end;
}
.hero__side-pic {
  height: auto;
  width: 100%;
}
.hero__addition-year,
.hero__addition-award {
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
}
/* Hero section styles end */

/* About section styles start  */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about__grid {
  grid-template-columns: repeat(3, 1fr);
}
.about__card p {
  line-height: 24px;
}

.about__title {
  line-height: 40px;
  margin-bottom: 12px;
}

.about__pic {
  margin-bottom: 40px;
  display: block;
  width: 100%;
  height: auto;
}

.about__pic_2 {
  margin-bottom: 0;
}
.about__card {
  display: flex;
  flex-direction: column;
  height: auto;
}

.about__card-2 {
  margin-bottom: 40px;
}
/* About section styles end */

/* Portfolio section styles start */
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #222;
  color: #fff;
}

.portfolio__title {
  margin-bottom: 12px;
}
.portfolio__subtitle {
  display: inline-block;
  margin-bottom: 40px;
  line-height: 24px;
  max-width: 360px;
}
.portfolio__list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 654px;

  /* transform: translateX(-1260px); */
}
.slider-area {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.slider-area_left {
  left: 0;
  width: 30%;
  /* background-color: rgba(255, 60, 60, 0.1); */
}
.slider-area_mid {
  left: 30%;
  width: 40%;
  /* background-color: rgba(60, 60, 255, 0.1); */
}
.slider-area_right {
  right: 0;
  width: 30%;
  /* background-color: rgba(255, 60, 60, 0.1); */
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.img_large {
  width: 400px;
  height: 534px;
}
.img_small {
  width: 220px;
  height: 220px;
}
.img_medium {
  width: 280px;
  height: 374px;
}

.img_bottom {
  margin-top: auto;
}

.img_center {
  margin: auto 0;
}
.img_top {
  justify-self: 0;
}

.img_mid {
  margin-top: 120px;
}
/* Portfolio section styles end */

/* Price section styles start */

.price {
  padding-top: 60px;
  padding-bottom: 60px;
}
.price__cards {
  grid-template-columns: repeat(4, 1fr);
}
.price__title {
  margin-bottom: 12px;
}

.price__subtitle {
  line-height: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.price__subtitle {
  margin-bottom: 40px;
}
.card {
  border: 1px solid #222;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 500px;
  transition: all 0.3s;
}

.card:hover {
  border: 1px solid #ff3c3c;
}

.card:hover .btn {
  background-color: #ff3c3c;
  color: #222;
}
.card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}
.card__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}
.card__value,
.card__list li {
  height: 24px;
  display: flex;
  align-items: center;
}
.card__value {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.card__list li {
  background: url(../img/svg/item.svg) no-repeat left center;
  padding-left: 12px;
}
.card__button-desc {
  margin-top: auto;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  font-style: italic;
  line-height: 20px;
}
/* Price section styles end */

/* FAQ section styles start */
.faq {
  background-color: #222;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  margin-bottom: 40px;
}
.faq__grid {
  grid-template-columns: repeat(2, 1fr);
}
.faq__answer {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.faq__title {
  margin-bottom: 12px;
}

.faq__subtitle {
  display: flex;
  align-items: center;
  height: 24px;
  line-height: 24px;
}
.faq__list {
  list-style: none;
}
.faq__question {
  display: flex;
  padding-top: 17px;
  padding-bottom: 18px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.faq__item:not(:first-child) {
  border-top: 1px solid #fff;
}
.faq__item:last-child {
  border-bottom: 1px solid #fff;
}
.faq__question:hover {
  color: #ff3c3c;
}
.faq__question img {
  margin-left: auto;
}
.faq__item.hidden .faq__answer {
  display: none;
}
.faq__item.active .faq__answer {
  display: block;
}

.faq__item.active .faq__question {
  background: url(../img/svg/minus.svg) no-repeat right center;
}
.faq__item.hidden .faq__question {
  background: url(../img/svg/plus.svg) no-repeat right center;
}
.faq__item.active .faq__question:hover {
  background: url(../img/svg/hovered-minus.svg) no-repeat right center;
}
.faq__item.hidden .faq__question:hover {
  background: url(../img/svg/hovered-plus.svg) no-repeat right center;
}
/* FAQ section styles end */

/* Footer styles start */
.footer__title {
  text-align: center;
  margin-bottom: 20px;
}

.footer__form {
  gap: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.footer__contacts {
  gap: 40px;
  height: 100px;
  background-color: #222;
}
.input-wrapper {
  max-width: 380px;
  height: 60px;
  flex: 1;
}
.footer__input {
  width: 100%;
  height: 100%;
  padding: 18px 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #222;
  text-transform: uppercase;
  border: 1px solid #222;
  transition: all 0.3s;
}
.footer__input_phone {
  padding: 18px 12px 18px 34px;
}
.input-wrapper_phone {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.input-wrapper_phone::before {
  content: '+1';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #222;
  pointer-events: none;
}
.footer__input:hover {
  border: 1px solid #ff3c3c;
}
.footer__btn {
  width: 200px;
  flex-shrink: 0;
  height: 60px;
}
.footer__link:link,
.footer__link:visited {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  height: 24px;
}
/* Footer styles end */
